{
	"token": "p1acE_Y0uR-ToK3n_heRe",
	"frequence": "0.05",
	"expressions": [
		"Balarace sincèrement",
		"Qui ?",
		"Qui a demandé ?",
		"ratio"
	],
	"responses": {
		"Flo (.+)": "Et ce ratio {1} peut-être ?",
		"C'(.+[^?])": "Et ce ratio {1} peut-être ?"
	}
}