{
	"token": "MTAzOTkwNjUxNDc0OTY0MDcyNA.G89ck6.w9rLrAbmBOi6XUzwQeunmfCMGbyDH_hK9R-2sA",
	"frequence": "0.05",
	"expressions": [
		"Balarace sincèrement",
		"Qui ?",
		"Qui a demandé ?",
		"ratio",
		""
	],
	"responses": {
		"Flo (.+)": "Et ce ratio {1} peut-être ?",
		"C'(.+[^?])": "Et ce ratio {1} peut-être ?"
	}
}